doctype html
html
  head
    title Food Blog
  body
    include common/head.pug
    aside#leftside
    aside#rightside
    #container
    include common/header.pug
    include common/main.pug
    include common/footer.pug
   
